{
  "eb":{
    "deployment_bucket":"nova-ionroller-deployment",
    "settings":[
      {
        "Namespace":"aws:autoscaling:asg",
        "OptionName":"MinSize",
        "Value":"3"
      },
      {
        "Namespace":"aws:elasticbeanstalk:application:environment",
        "OptionName":"NEW_RELIC_LICENSE_KEY",
        "Value":"{{newRelicKey}}"
      },
      {
        "Namespace":"aws:autoscaling:launchconfiguration",
        "OptionName":"SecurityGroups",
        "Value":"{{ionroller.securityGroups}}"
      },
      {
        "Namespace":"aws:ec2:vpc",
        "OptionName":"Subnets",
        "Value":"{{ionroller.subnets}}"
      },
      {
        "Namespace":"aws:autoscaling:launchconfiguration",
        "OptionName":"InstanceType",
        "Value":"t2.small"
      },
      {
        "Namespace":"aws:ec2:vpc",
        "OptionName":"ELBSubnets",
        "Value":"{{ionroller.securityGroups}}"
      },
      {
        "Namespace":"aws:elasticbeanstalk:application",
        "OptionName":"Application Healthcheck URL",
        "Value":"/_internal_/ping"
      },
      {
        "Namespace":"aws:autoscaling:launchconfiguration",
        "OptionName":"EC2KeyName",
        "Value":"nova"
      },
      {
        "Namespace":"aws:ec2:vpc",
        "OptionName":"VPCId",
        "Value":"{{ionroller.vpcId}}"
      },
      {
        "Namespace": "aws:ec2:vpc",
        "OptionName": "ELBScheme",
        "Value": "internal"
      }
    ],
    "stack":"64bit Amazon Linux 2014.09 v1.0.11 running Docker 1.3.3"
  },
  "hosted_zone_id":"{{ionroller.zoneId}}",
  "image":"giltcommon/{{name}}",
  "ionroller_role_arn":"{{ionroller.arn}}",
  "port_mappings":[
    {
      "external":{{port}},
      "internal":{{port}}
    }
  ],
  "remove_unused_after_minutes":60,
  "url":"{{name}}.common.giltaws.com",
  "run_args":[]
}