<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mocha Test Runner</title>
    <link rel="stylesheet" href="{{{mochaPath}}}/mocha.css">
  </head>
  <body>
    <div id="mocha"></div>

    <script src="{{{sinonPath}}}/sinon.js"></script>
    <script src="{{{mochaPath}}}/mocha.js"></script>
    <script src="{{{chaiPath}}}/chai.js"></script>

    <script>
      mocha.setup({
        ui: 'bdd',
        ignoreLeaks: true
      });

      // allows mocha to continue to run tests after the first failure.
      mocha.bail(false);

      function initMockServer (server) {
        if (typeof server === 'undefined') {
          server = sinon.fakeServer.create();
        }
        {{#servers}}
        server.respondWith('{{method}}', new RegExp('{{{path}}}'), [
          {{responseCode}},
          { 'Content-Type': 'application/json' },
          '{{{responseData}}}'
        ]);
        {{/servers}}
        return server;
      }

      var expect = chai.expect,
        assert = chai.assert,
        specs = [{{{specs}}}],
        require = {
          baseUrl: '{{{baseUrl}}}',
          callback: function () {

            // we're going to wire up some fake defines here. these will be ignored if they've already been defined.
            // this allows us to include js files from the /spec dir which contain no defines, seamlessly.
            specs.forEach(function (name) {
              define(name, function () {});
            });

            require(specs, function () {

              if (window.mochaPhantomJS) {
                mochaPhantomJS.run();
              }
              else {
                mocha.run();
              }
            });
          }
        };
    </script>

  {{#scripts}}
    <script src="{{{.}}}"></script>
  {{/scripts}}

  {{#specFiles}}
    <script src="{{{.}}}"></script>
  {{/specFiles}}

  </body>
</html>