<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mocha Test Runner</title>
    <link rel="stylesheet" href="{{{mochaPath}}}/mocha.css">
  </head>
  <body>
    <div id="mocha"></div>

    <script src="{{{sinonPath}}}/sinon.js"></script>
    <script src="{{{mochaPath}}}/mocha.js"></script>
    <script src="{{{chaiPath}}}/chai.js"></script>

  {{#scripts}}
    <script src="{{{.}}}"></script>
  {{/scripts}}
    <script src="{{{libPath}}}/html-runner.js"></script>

    <script>

      var expect = chai.expect,
        assert = chai.assert;

      mocha.setup({
        ui: 'bdd',
        ignoreLeaks: true,
        useColors: {{useColors}}
      });

      // allows mocha to continue to run tests after the first failure.
      mocha.bail(false);

      {{#servers}}
      gilt.endpoints.add({
        method: '{{method}}',
        path: '{{{path}}}',
        code: {{responseCode}},
        data: '{{{responseData}}}'
      });
      {{/servers}}

      {{#specFiles}}
      gilt.specs.addFile('{{{.}}}');
      {{/specFiles}}

      gilt.specs.start({
        baseUrl: '{{{baseUrl}}}',
        callback: function () {
          if (window.mochaPhantomJS) {
            mochaPhantomJS.run();
          }
          else {
            mocha.run();
          }
        }
      });

    </script>

  </body>
</html>