node_modules
newrelic_agent.log
.jshintrc
.dockerignore
.gitignore
json/mock/*
log/*
public/js
public/css
public/img
# Note: we want the public/templates direcotry in the docker image
test
.git
.idea
conf
nova.yml
*.md
perf
